body{
margin:0;
background:linear-gradient(135deg,#f3f6fb,#e9eef5);
color:#222;
font-family:Arial;
}

/* HEADER */
header{
background:white;
padding:12px 20px;
display:flex;
justify-content:space-between;
align-items:center;
box-shadow:0 3px 15px rgba(0,0,0,.1);
}

header img{height:40px;}

header button{
background:#2563eb;
border:none;
color:white;
padding:8px 15px;
border-radius:18px;
font-weight:600;
cursor:pointer;
transition:.3s;
}

header button:hover{
background:#1e40af;
}

/* CONTENEDOR */
.container{
max-width:480px;
margin:30px auto;
background:white;
padding:25px;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,.08);
}

/* INPUTS */
input,select{
width:100%;
padding:12px;
margin:8px 0;
border-radius:8px;
border:1px solid #ddd;
font-size:14px;
}

/* BOTON PRINCIPAL */
.primary{
background:#16a34a;
color:white;
padding:12px;
width:100%;
border:none;
border-radius:25px;
font-weight:bold;
cursor:pointer;
transition:.3s;
}

.primary:hover{
background:#15803d;
}

/* RECIBO */
.recibo{
background:#f8fafc;
padding:14px;
border-radius:10px;
margin-top:12px;
font-size:14px;
border-left:5px solid #16a34a;
}

/* ESTADOS */
.estado{
font-weight:bold;
}

.pagado{
color:#16a34a;
}

.pendiente{
color:#dc2626;
}

/* RESPONSIVE */
@media(max-width:600px){
.container{
margin:10px;
}
}