body{
margin:0;
background:#f2f6fb;
font-family:Arial;
}

header{
background:white;
padding:12px 20px;
display:flex;
justify-content:space-between;
align-items:center;
box-shadow:0 3px 10px rgba(0,0,0,.1);
}

header img{height:35px;}

header button{
background:#2563eb;
border:none;
color:white;
padding:7px 14px;
border-radius:15px;
}

.container{
max-width:500px;
margin:25px auto;
background:white;
padding:20px;
border-radius:15px;
box-shadow:0 0 20px rgba(0,0,0,.08);
}

.partido{
display:flex;
align-items:center;
justify-content:space-between;
margin:10px 0;
background:#f8fafc;
padding:8px;
border-radius:8px;
font-size:13px;
}

.partido img{height:30px;}

.primary{
background:#16a34a;
color:white;
border:none;
padding:12px;
width:100%;
border-radius:25px;
font-weight:bold;
margin-top:15px;
}

.reg{
padding:8px;
border-bottom:1px solid #eee;
}